/* Estilos gerais */

* {
    /* O asterisco utilizado serve para remover a formatação de CSS Original do Site, assim podedno modificar na Raiz do Site  */
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kodchasan';
  }

/* Importando fonte adicional */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

body {
    font-family: 'Kodchasan',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: black;
}

header h1,p{
    display: flex;
}

header{
    margin-left: 30vh;
    display: row;
    max-width: 78rem;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.botao-especificacoes {
    display: block;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: #818181;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s; /* Transição de 0.3 segundos */
}

.botao-especificacoes:hover {
    background-color: #8900a1;
}

/* Estilos adicionais podem ser incluídos aqui */
#secaoInformacoesTecnicas {
    display: none;
}

.CaracteristicasTecnica{
    margin-left: 30vh;
    display: row;
    max-width: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.fa-paragraph{
    margin-top: 5rem;
}

.textoSVG{
    margin-left: 30vh;
    display: row;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;/* Remove marcadores de lista padrão */
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para o card */

.card {
    margin: 20px auto;
    max-width: 78rem;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    flex-direction: row; 
}

.image-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    margin-left: 0.8rem;
}

.conteudo header{
    margin-left: 15%;
    margin-right: 15%;
}

.image-thumbnails img {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    border: 2px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
}

.image-thumbnails :hover{
    border: 2.2px solid #a200ff;
}

.product-image {
    display: flex;
    margin: 0 auto; /* Centraliza na página */
    max-width: 80%; /* Ajuste conforme necessário */
}


/* Estilos para botões de valores */
.valores button {
    width: 100%;
    padding: 12px 20px;
    background-color: #8f00b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.valores button:hover {
    background-color: #8f00b3;
}

/* Estilizando para um efeito 3D no hover */
.valores button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease;
    z-index: -1;
}

.valores button:hover::before {
    transform: scale(1.1);/* Aumenta a escala do elemento de conteúdo ao passar o mouse sobre o botão */
}

.product-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#blocoValores {
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left; /* Reverte o texto para a esquerda */
}

.valores select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 5px;
}

.valores button {
    width: 100%;
    padding: 10px;
    background-color: #cc00ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.valores button:hover {
    background-color: #8f00b3;
}

.valores {
font-size: 16px;
}

.preco-antigo {
    text-decoration: line-through; /* Adiciona o efeito de riscado */
    color: #999; /* Cinza escuro para o preço antigo */
}

.preco-novo {
    font-weight: bold; /* Deixa o novo preço em negrito */
    color: #ae00d9; /* Cor específica para o novo preço */
    font-size: 36px; /* Ajusta o tamanho do novo preço conforme necessário */
}

.info2 {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left; /* Reverte o texto para a esquerda */
}

.info2 ul li {
    margin-bottom: 5px;
}

.descricao-produto {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left; /* Reverte o texto para a esquerda */
    max-width: 78rem;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.descricao-produto p {
    line-height: 1.6;
}


.especificacao-tecnica {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
  }

  .especificacao-tecnica2 {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #000000;
  }
  
  .texto {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
  }
  

  .texto2 {
    flex: 1;
    padding: 20px;
    background-color: #000000;
  }

  .texto h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  

    .texto2 h2 {
        font-size: 22px;
        margin-bottom: 10px;
        color: #ffffff
      }

  .texto p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
  }
  
  .imagem {
    flex: 1;
  }
  
  .imagem img {
    width: 90%;
    height: auto;
  }

  .texto2 p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
  }
  
  .imagem2 {
    flex: 1;
  }
  
  .imagem2 img {
    width: 90%;
    height: auto;
  
  }
  
