/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #9545a0;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 800px;
    margin-top: 20px;
}

.content {
    flex-grow: 1;
}

.right-content {
    width: 300px;
    margin-left: 20px;
}

/* Estilos para a seção de subtotal */
.subtotal {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de frete */
.frete {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.frete h3 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de total */
.total h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.total h1 {
    text-align: center;
    font-size: 36px;
    color: #9545a0;
    margin: 0;
}

/* Estilos para a seção de pagamento */
.installments,
.discount {
    text-align: center;
    margin-top: 20px;
}

.installments span {
    font-weight: bold;
    font-size: 18px;
}

.discount {
    font-size: 18px;
    text-align: center;
    color: #9545a0;
    margin-bottom: 20px;
}

/* Estilos para botão continuar */
.btn-continue {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #9545a0;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-continue:hover {
    background-color: #7d3687;
}

/* Estilos para a seção de produtos no carrinho */
.produto {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
}

.produto img {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.detalhes {
    flex-grow: 1;
}

/* Estilos para o botão finalizar compra */
.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #9545a0;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #7d3687;
}

/* Estilos para os radio buttons */
.tiposdefrete {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tiposdefrete h3 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tiposdefrete label {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para o radio button focado */
.frete select,
.frete select:focus {
    border-color: #9545a0;
}

.frete option {
    font-size: 1px;
}